{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form action="{{ path('app_login') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <input type="checkbox" id="remember_me" name="_remember_me">
        <label for="remember_me">Se souvenir de moi</label>

        <button type="submit">Connexion</button>

        <p><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></p>
    </form>
{% endblock %}
