{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="flex justify-center my-6 text-4xl"><h1>Mon profil</h1></div>

    {% if app.user.avatar %}
        <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="Avatar de {{ app.user.prenom }}" width="100">
    {% else %}
        <img src="{{ asset('images/default_avatar.png') }}" alt="Avatar par défaut" width="100">
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="mt-6">
        <button type="submit" class="w-40 h-15 bg-emerald-300/75 hover:bg-emerald-400/50 rounded-md mx-auto block">Sauvegarder</button>
    </div>
    {{ form_end(form) }}
{% endblock %}