{% extends 'base.html.twig' %}

{% block title %}[Mon profil]{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    {% if app.user.avatar %}
        <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="Mon avatar" style="width: 150px; height: 150px; border-radius: 50%;">
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.motPasse) }}
    {{ form_row(form.campus) }}
    {{ form_row(form.avatar) }}

    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}
