{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">
        Afficher une sortie
    </h1>

    <!-- Conteneur avec hauteur max et scroll vertical -->
    <div class="max-h-80 overflow-y-auto border border-gray-300 rounded-lg">
        <table class="min-w-full border-collapse border border-gray-400 bg-white">
            <thead class="bg-gray-200 sticky top-0">
            <tr>
                <th class="border border-gray-400 px-4 py-2 text-left">Nom de la sortie</th>
                <th class="border border-gray-400 px-4 py-2 text-left">Date de la sortie</th>
                <th class="border border-gray-400 px-4 py-2 text-left">Clôture</th>
                <th class="border border-gray-400 px-4 py-2 text-left">Inscrits/places</th>
                <th class="border border-gray-400 px-4 py-2 text-left">État</th>
                <th class="border border-gray-400 px-4 py-2 text-left">Inscrit</th>
                <th class="border border-gray-400 px-4 py-2 text-left">Organisateur</th>
                <th class="border border-gray-400 px-4 py-2 text-left">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr class="odd:bg-gray-50 hover:bg-gray-100">
                    <td class="border border-gray-400 px-4 py-2">{{ sortie.nom ? sortie.nom :'pas de nom' }}</td>
                    <td class="border border-gray-400 px-4 py-2">
                        {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : 'pas de date' }}
                    </td>
                    <td class="border border-gray-400 px-4 py-2">
                        {{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : 'pas de date' }}
                    </td>

                    <td class="border border-gray-400 px-4 py-2">{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ sortie.etat.libelle }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="px-4 py-2 text-center text-gray-500">
                        Aucune sortie trouvée
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
